header{
   display: flex;
   justify-content: center;
    margin-top: 4.5rem;
    margin-bottom: 5.56rem;

    .logo{
        display: flex;
        align-items: center;
        gap: 11px;
        h1{
            font: 800 24px/130% 'sora', sans-serif;
            color: var(--content-primary);
        }
    }
}

section.principal{
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    .about{
        display: grid;
        gap: 2rem;
        h2{
            font: var(--overline);
            background: var(--gradient-content); /* Aplica o gradiente como fundo */
            -webkit-background-clip: text; /* Faz o fundo seguir o contorno do texto */
            color: transparent; /* Torna a cor do texto transparente para exibir o fundo */     
        }
        h1{
            font: var(--display-lg);
            color: var(--content-primary);
        }
        .question{
            .title{
                display: flex;
                align-items: center;
                gap: 1rem;
                h3{
                    font: var(--p-md);
                    color: var(--content-brand);
                }
            }
            p{
                color: var(--content-secondary);
                font: var(--p-sm);
            }
        }
    }

    .program{
        text-align: center;
        .text{
            display: grid;
            gap: 2rem;
            h2{
                color: var(--content-primary);
                font: var(--label-lg);
            }

            p{
                font: var(--p-lg);
                color: var(--content-secondary);
            }
        }

        .range{
            margin-top: 40px;
            display: flex;
            justify-content: space-around;
            .inp{
                text-align: center;
                label{
                    p{
                        color: #C7C9CC;
                        font: var(--label-md);
                    }
                }

                input{
                    margin-top: .5rem;
                    text-align: center;
                    -moz-appearance: textfield; /* Firefox */
                    -webkit-appearance: none;  /* Chrome, Safari, Edge */
                    appearance: none; /* Padrão genérico */
                    height: 5rem;
                    padding: 1rem;
                    font: var(--display-sm);
                    color: #ffffff;
                    width: 5rem;
                    border-radius: 8px;
                    background-color: var(--background-secondary);
                    outline: none;
                    border: none;
                }
            }
        }
    }

    .toogle{
        display: flex;
        align-items: center;
        gap: .5rem;
        h2{
            color: var(--content-primary);
            font: var(--p-sm);
        }
    }
}

@media (max-width: 450px){

    header{
        margin-bottom: 2.875rem;
        .logo{
            justify-content: center;
        }
    }

    section.principal{
        display: flex;
        flex-direction: column;
        .about{
            text-align: center;
           
            h1{
                font: var(--display-md);
                color: var(--content-primary);
            }

            .question{
                
                
                .title{
                    display: flex;
                    justify-content: center;
                    
                }
                
            }
        }

        .toogle{
            justify-content: center;
        }

        button{
            display: flex;
        }

    }
}



.inp input::-webkit-outer-spin-button,
.inp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
